# List of dependencies for the project
flask==2.3.2
requests==2.31.0
gunicorn==20.1.0
# Add other dependencies as needed
flask_cors==3.0.10
scikit-learn==1.6.1

# Add dependencies based on user_input2.py
numpy==1.24.3
Pillow==9.5.0
numexpr==2.8.4
joblib==1.3.2
